*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.float-left{
    float: left
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.containre{
    max-width: 1200px;  
    margin: 0 auto;
}
.logo{
    height: 60px;
}
.header-sairbar{
    /* height: 50px; */
    background-color: orange;
    margin-bottom: 30px;
}
.header-sairbar .main-menu li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;

}
.header-sairbar .main-menu a{
    text-decoration: none;
}
.section{
     background-image:url(../img/banner.jpg);
     background-position: center;
     background-size: cover;
     height: 300px;
     margin-bottom: 20px;
}
.main-section{
    background-color: lightcoral;
    height: 500px;
    width: 1200px;
}
.table{
    background-color: lightseagreen;
}

.main-section img{
    width: 100%;
}









.left , .center , .right{
     height: calc(100% - 80px);
}

.top{
    margin-bottom: 20px;
}
.left , .right{
    width: 25%;
}
.center{
    margin: 0 20px;
    width: calc(50% - 40px);

}
footer{
    margin-top: 10px;
    background-color: lightgray;
    height: 40px;

}
